<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terpmate</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/cart.js"></script>
</head>
<body>
    <div class="min-percentage">
        <label for="min_concentration">Min %:</label>
        <input type="number" name="min_concentration" step="0.01" value="0.01" class="min-concentration">
    </div>
    <div class="go-button-container">
        <input type="submit" value="View" class="submit-button">
    </div>
    <div class="header-box">
        <h1 class="header-text">Terpmate</h1>
    </div>
    <form class="terpene-form" action="/filter" method="post">
        {% for group, terpenes in mood_groups.items() %}
        <div class="terpene-group">
            <h2 class="group-header" style="color: {{ group_colors[group] }}">{{ group }}</h2>
            <div class="terpene-list">
                {% for terpene in terpenes %}
                <div class="terpene-option" style="background-color: {{ group_colors[group] }};" 
                     onclick="toggleSelection(this)">
                    <input type="checkbox" id="{{ terpene }}" name="terpenes" value="{{ terpene }}" style="display: none;">
                    <label for="{{ terpene }}">{{ terpene }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </form>
</body>
<script>
    function toggleSelection(element) {
        const checkbox = element.querySelector("input[type='checkbox']");
        checkbox.checked = !checkbox.checked;
        updateCart(checkbox);
    }
</script>
</html>
